body{
  position: relative;
  height: 900px;
  background: radial-gradient(50% 50% at 50% 50%, #FBBC05 0%, #FF8F3F 100%);
}

header .container{
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
}

header .navigation{
  width: 1064.54px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo{

}

header .list{
  display: flex;
  flex-direction: row;
  grid-gap: 40px;
}